* {
   margin: 0;
   padding: 0;
}

p {
   color: black;
   font-family: Esteban, sans-serif;
   font-size: 25px;
}
/*NAVIGATION BAR*/
.nav {
   width: 100%;
   display: flex;
   justify-content: flex-end;
   position: fixed;
   background-color: blue;
   height: 124px;
}

a {
   text-decoration: none;
}

.nav a {
   padding-top: 50px;
   padding-right: 52px;
   font-family: Oswald, sans-serif;
   font-size: 20px;
   color: white;
   background-color: green;
}

.nav .logo {
   background-color: red;
}

/*hero*/
.hero {
   padding-top: 124px;
}

h1 {
   padding-top: 124px;
}

/*Mobile*/
@media (max-width: 400px) {
   body {
      background-color: red;
   }
}
/*Mobile and Tablet*/
@media (min-width: 401px) and (max-width: 768px) {
   body {
      background-color: green;
   }
}
/*Tablet and Desktop*/
@media (min-width: 769px) and (max-width: 1024px) {
   body {
      background-color: gray;
   }
}
/*Desktop*/
@media (min-width: 1025px) {
   body {
      background-color: orange;
   }
}
