* {
   margin: 0;
   padding: 0;
}

p {
   color: black;
   font-family: Esteban, sans-serif;
   font-size: 25px;
}
/*NAVIGATION BAR*/
.nav {
   width: 100%;
   display: flex;
   justify-content: flex-end;
   position: fixed;
   background-color: white;
   height: 124px;
   box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, .25);
}

a {
   text-decoration: none;
}

.nav a {
   display: flex;
   align-items: center;
   padding-left: 37px;
   padding-right: 29px;
   font-family: Oswald, sans-serif;
   font-size: 25px;
   color: black;
}

.nav .logo a {
   position: absolute;
   top: 18px;
   left: 20px;
   padding: 0;
}

.nav a:hover {
   color: gray;
}
/*hero*/
.hero {
   padding-top: 124px;
   width: 100%;
   background-color: green;
}

.hero .monk {
   display: flex;
   justify-content: center;
}

/*Mobile*/
@media (max-width: 400px) {
   body {
      background-color: red;
   }
}
/*Mobile and Tablet*/
@media (min-width: 401px) and (max-width: 768px) {
   body {
      background-color: green;
   }
}
/*Tablet and Desktop*/
@media (min-width: 769px) and (max-width: 1024px) {
   body {
      background-color: gray;
   }
}
/*Desktop*/
@media (min-width: 1025px) {
   body {
      background-color: orange;
   }
}
